#c2 {
  display: inline-block;
  padding-left: 20px;
  width: 700px;
  overflow: hidden;
}
#mynetwork {
  border: 1px solid;
}
#c1 {
  float: left;
  width: 800px;
}

#c3 {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  width: 200px;
  overflow: hidden;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding:0;
  list-style: none;
  display:flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25 rem;
}

.title {
  font-size: 2rem;
}